*

# files
!/.gitattributes
!/.gitignore
!/.gitmodules
!/.mcp.json
!/README.md
!/settings.json
!/CLAUDE.md

# folders
!agents
!agents/**
!skills
!skills/**
!bin
!bin/**
!.claude
!.claude/skills/**
!.claude/CLAUDE.md
!rules
!rules/**
